* text=auto !eol
lib/java/.classpath -text
lib/java/.project -text
lib/java/LICENSE.txt -text
lib/java/README.txt -text
lib/java/lib/OpenIGTLink.jar -text
lib/java/src/org/medcare/igtl/messages/CapabilityMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetCapabilityMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetImageMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetPositionMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetStatusMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetTransformMessage.java -text
lib/java/src/org/medcare/igtl/messages/ImageMessage.java -text
lib/java/src/org/medcare/igtl/messages/OpenIGTMessage.java -text
lib/java/src/org/medcare/igtl/messages/PositionMessage.java -text
lib/java/src/org/medcare/igtl/messages/StatusMessage.java -text
lib/java/src/org/medcare/igtl/messages/TransformMessage.java -text
lib/java/src/org/medcare/igtl/network/MessageHandler.java -text
lib/java/src/org/medcare/igtl/network/MessageQueueManager.java -text
lib/java/src/org/medcare/igtl/network/OpenIGTClient.java -text
lib/java/src/org/medcare/igtl/network/OpenIGTServer.java -text
lib/java/src/org/medcare/igtl/network/RequestQueueManager.java -text
lib/java/src/org/medcare/igtl/network/ResponseHandler.java -text
lib/java/src/org/medcare/igtl/network/ResponseQueueManager.java -text
lib/java/src/org/medcare/igtl/network/ServerThread.java -text
lib/java/src/org/medcare/igtl/util/BytesArray.java -text
lib/java/src/org/medcare/igtl/util/CrcException.java -text
lib/java/src/org/medcare/igtl/util/ErrorManager.java -text
lib/java/src/org/medcare/igtl/util/Header.java -text
lib/java/src/org/medcare/igtl/util/Status.java -text
lib/java/src/org/medcare/igtl/util/Tests.java -text
