* text=auto !eol
AimLabJavaRobot/.classpath -text
AimLabJavaRobot/.project -text
AimLabJavaRobot/.settings/org.eclipse.jdt.core.prefs -text
AimLabJavaRobot/lib/Jama-1.0.2.jar -text
AimLabJavaRobot/src/com/neuronrobotics/aim/gui/EventResponseTable.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/gui/KinematicsGUI.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/gui/SlicerPanel.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/gui/middle.gif -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/CartesianSpacePosition.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/FrameTransformation.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/IKinematicsModel.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/LinkConfiguration.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/MRIController.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/ProstateRobotKinematicModel.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/RasSpacePosition.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/commands/MRICommandSample.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/xml/MRIXmlFactory.java -text
AimLabJavaRobot/src/com/neuronrobotics/aim/robot/xml/ProstateRobot.xml -text
HaosOpenIGTTestCode/.classpath -text
HaosOpenIGTTestCode/.project -text
HaosOpenIGTTestCode/.settings/org.eclipse.jdt.core.prefs -text
HaosOpenIGTTestCode/lib/Jama-1.0.2.jar -text
HaosOpenIGTTestCode/lib/miglayout-3.7.2-swing.jar -text
HaosOpenIGTTestCode/src/haosu/test/examples/ArrayDemo.java -text
HaosOpenIGTTestCode/src/haosu/test/examples/CheckIfStringIsDoubleType.java -text
HaosOpenIGTTestCode/src/haosu/test/examples/GetRowsAndCols.java -text
HaosOpenIGTTestCode/src/haosu/test/examples/TableModelListenerDemo.java -text
HaosOpenIGTTestCode/src/haosu/test/examples/TestNumberArray.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/client/Client.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/client/ClientReceivePosition.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/client/ClientReceiveTransform.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/client/MyClientErrorManager.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/client/MyOpenIGTClient.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/client/MyResponseHandler.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/gui/EventResponseTable.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/gui/KinematicsGUI.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/gui/SlicerPanel.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/gui/middle.gif -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/server/HaosKinematicModel.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/server/HaosOpenIGTServer.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/server/MyMessageHandler.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/server/MyServerErrorManager.java -text
HaosOpenIGTTestCode/src/org/medcare/igtl/tests/server/Server.java -text
lib/java/.classpath -text
lib/java/.project -text
lib/java/LICENSE.txt -text
lib/java/README.txt -text
lib/java/lib/OpenIGTLink.jar -text
lib/java/src/org/medcare/igtl/messages/CapabilityMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetCapabilityMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetImageMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetPositionMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetStatusMessage.java -text
lib/java/src/org/medcare/igtl/messages/GetTransformMessage.java -text
lib/java/src/org/medcare/igtl/messages/ImageMessage.java -text
lib/java/src/org/medcare/igtl/messages/OpenIGTMessage.java -text
lib/java/src/org/medcare/igtl/messages/PositionMessage.java -text
lib/java/src/org/medcare/igtl/messages/StatusMessage.java -text
lib/java/src/org/medcare/igtl/messages/TransformMessage.java -text
lib/java/src/org/medcare/igtl/network/MessageHandler.java -text
lib/java/src/org/medcare/igtl/network/MessageQueueManager.java -text
lib/java/src/org/medcare/igtl/network/OpenIGTClient.java -text
lib/java/src/org/medcare/igtl/network/OpenIGTServer.java -text
lib/java/src/org/medcare/igtl/network/RequestQueueManager.java -text
lib/java/src/org/medcare/igtl/network/ResponseHandler.java -text
lib/java/src/org/medcare/igtl/network/ResponseQueueManager.java -text
lib/java/src/org/medcare/igtl/network/ServerThread.java -text
lib/java/src/org/medcare/igtl/util/BytesArray.java -text
lib/java/src/org/medcare/igtl/util/CrcException.java -text
lib/java/src/org/medcare/igtl/util/ErrorManager.java -text
lib/java/src/org/medcare/igtl/util/Header.java -text
lib/java/src/org/medcare/igtl/util/Status.java -text
lib/java/src/org/medcare/igtl/util/Tests.java -text
lib/java/src/org/medcare/robot/CartesianSpacePosition.java -text
lib/java/src/org/medcare/robot/FrameTransformation.java -text
lib/java/src/org/medcare/robot/IKinematicsModel.java -text
lib/java/src/org/medcare/robot/RasSpacePosition.java -text
